body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header{
    width: 100%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header{
    max-width: 1500px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    width: 158px;
    height: 50px;
}

.logo img{
    width: 110%;
    height: 130%;
}

nav{
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 0 0 0;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a{
    text-shadow: 2px 2px 5px black
}

main{
    display: flex;
    justify-content: center;
    position: relative;
}

.majn{
    margin: 15px;
}

#info{
    margin: 0 20px;
    padding: 0 10px;
}

#states{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 0 10px;
    gap: 30px;
}
.kartisky{
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(0, 0, 0);
    width: 130px;
    height: 104px;
    margin: 5px;
    background-color: white;
}
.kartisky img{
    width: 130px;
    height: 68px;
}
.shells{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;    
}
.shells p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.AP{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.AP img{
    width: 54px;
    height: 54px;
}

#odkaz{
    display: flex;
    justify-content: center;
    flex-direction: center;
    padding: 8px 0 0 0;
    color: black;
    border-top: solid 1px black;
}

h3, h1{
    display: flex;
    justify-content: center;
}
.list{
    display: flex;
    justify-content: center;
    color: black;
}

#Leaks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}


#Leaks a, #info a{
    text-decoration: underline;
}

footer{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.obrazky{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 5px; 
    border-bottom: 1px solid black;
}

.copyright{
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 768px) {
    .kartisky img:hover{
        filter: blur(3px);
    }
    #info a:hover{
        color: black;
        text-decoration: none;
    }
    #Leaks a:hover{
        color: black;
        text-decoration: none;
    }
    #zajimavosti_list{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}
